body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
    background-color: #f0f8ff;
}

.table-container {
    margin: 20px;
    width: 80%;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 10px;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
    cursor: pointer;
}

th {
    background-color: #4caf50;
    color: white;
}

#pagination {
    display: flex;
    justify-content: center;
    align-items: center;
}

#pagination button {
    padding: 10px;
    border: none;
    background-color: #4caf50;
    color: white;
    cursor: pointer;
}

#pagination button:hover {
    background-color: #45a049;
}

#pagination span {
    margin: 0 10px;
}
